.two-comparison {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
}

.comparison, .one-comparison, .two-comparison {
  margin: auto;
  max-width: 800px;
}

.compare-info p {

  background-color: gray;
  color: white;
  padding: 5px 10px;
  margin: 30px;  
}

