.info-card {
  filter: drop-shadow(3px 3px 3px gray);
  border-radius: 20px;
  cursor: pointer;
}

.info-card:hover {
  transform: scale(1.05);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.info-card, h4, p, .year-list, span {
  background-color: rgba(230, 230, 230, 1)
}

.year-list {
  margin-bottom: 20px;
}

.hi {
  color: green;
}

.low {
  color: red;
}

.low, .hi {
  margin: 0;
}

.emoji {
  color: black;
}

